{% macro graphView(labelStatus="") -%}
<div>

    {% set graph_period= "[name='start_date_graph'], [name='end_date_graph']" %}
    <div class="inline-flex rounded-md p-4">
        <button id="graph-switcher-btn-right"
            hx-get="{{ url_for('report.get_label_views_graph', status=[labelStatus]) }}" hx-trigger="click"
            hx-target="#graph-data-label-view" hx-indicator="#htmx-spinner"
            class="px-4 py-2 text-sm font-medium text-blue-700 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
            Views graph
        </button>
        <button id="graph-switcher-btn-left"
            hx-get="{{ url_for('report.get_label_location_views_graph', status=[labelStatus]) }}" hx-trigger="click"
            hx-target="#graph-data-label-view" hx-indicator="#htmx-spinner"
            class="px-4 py-2 text-sm font-medium  bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
            Locations graph
        </button>
    </div>

    <div class="w-full flex flex-col p-4 gap-2">
        <h3 class="mt-6 md:mt-0 text-lg font-bold">Set date period</h3>
        <div id="date-range-picker" date-rangepicker class="flex gap-2 items-center">
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                    </svg>
                </div>
                <input id="date-input-datepicker" name="start_date_graph" type="text"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Select date start">
            </div>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                    </svg>
                </div>
                <input name="end_date_graph" type="text"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Select date end">
            </div>

            <button type="button" id="button-get-label-views"
                hx-get="{{ url_for('report.get_label_views_graph', status=[labelStatus]) }}"
                hx-include="{{ graph_period }}" hx-target="#graph-data-label-view" hx-trigger="click"
                hx-on::after-request="resetInputDate()" hx-indicator="#htmx-spinner"
                class=" px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                See views result
            </button>
            <button type="button" id="button-get-label-locations"
                hx-get="{{ url_for('report.get_label_location_views_graph', status=[labelStatus]) }}"
                hx-include="{{ graph_period }}" hx-target="#graph-data-label-view" hx-trigger="click"
                hx-on::after-request="resetInputDate()" hx-indicator="#htmx-spinner"
                class="hidden px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                See locations result
            </button>
        </div>

        <div id="graph-data-label-view" class="w-full flex justify-center">
            {{ graph_view }}
        </div>
    </div>
    {% block scripts %}
    <script src="{{ url_for('static', filename='js/echarts.min.js') }}" type="text/javascript" defer></script>
    <script src="{{ url_for('static', filename='js/controllers/graph_view.js') }}" type="text/javascript"
        defer></script>
    <script>
        function resetInputDate() {
            console.log("reset input date");
            document.querySelector("[name='start_date_graph']").value = "";
            document.querySelector("[name='end_date_graph']").value = "";
        }
    </script>
    {% endblock %}
</div>
{%- endmacro %}