{% extends "base.html" %}
{% block links %}
<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" />
{% endblock %}
<!-- prettier-ignore -->
{% block body %}

<!-- component -->
<div class="dark:bg-gray-900 h-screen pt-20">
  <section>
    <div class="w-full lg:w-1/2 flex justify-center px-4 mx-auto pt-6">
      <!-- prettier-ignore -->
      <div class="w-full lg:max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg dark:bg-gray-800">
        <!-- prettier-ignore -->
        <h2 class="text-2xl font-bold text-gray-900 dark:text-white">Login</h2>
        <!-- prettier-ignore -->
        <form class="mt-8 space-y-6 from" role="form" action="{{ url_for('auth.login') }}" method="post">
          {{ form.hidden_tag() }}
          <div>
            <!-- prettier-ignore -->
            {{form.user_id.label(class='block mb-2 text-sm font-medium text-gray-900 dark:text-white')}}
            {{form.user_id(
            class="clean_email_input w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit
            dark:text-white"
            )
            }}
          </div>
          <div>
            {{form.password.label(class='block mb-2 text-sm font-medium text-gray-900 dark:text-white')}}
            <div class="relative">
              <!-- prettier-ignore -->
              {{form.password(
              class="password-input w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit
              dark:text-white"
              )
              }}

              <div class="toggle-password absolute top-0 end-0 p-2 cursor-pointer">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M3.933 13.909A4.357 4.357 0 0 1 3 12c0-1 4-6 9-6m7.6 3.8A5.068 5.068 0 0 1 21 12c0 1-3 6-9 6-.314 0-.62-.014-.918-.04M5 19 19 5m-4 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
              </div>

            </div>
          </div>
          <a href="{{url_for('auth.forgot_pass')}}">
            <small class="ml-2 dark:text-white underline">Forgot your password?</small>
          </a>

          <!-- prettier-ignore -->
          <div class="flex flex-col md:flex-row items-center">
            <button type="submit"
              class="w-full px-5 py-3 text-base font-medium text-center text-white bg-indigo-700 rounded-lg hover:bg-indigo-800 focus:ring-4 focus:ring-blue-300 sm:w-auto dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-blue-800">
              Login &rarr;
            </button>
            <a class="text-sm font-medium text-gray-700 dark:text-white px-3" href="{{ url_for('auth.register') }}">
              <u>Don't have an account? Sign up</u>
            </a>
          </div>

          <!-- prettier-ignore -->
        </form>
      </div>
    </div>
  </section>
</div>
{% endblock %}
<!-- prettier-ignore -->
{% block scripts %}
<script src="{{ url_for('static', filename='js/custom.js') }}" type="text/javascript" defer></script>
<script src="{{ url_for('static', filename='js/controllers/password.js') }}" type="text/javascript" defer></script>
{% endblock %}