{% extends "base.html" %}
{% block links %}
<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" />
{% endblock %}
<!-- prettier-ignore -->
{% block body %}

<!-- component -->
<div class="dark:bg-gray-900 h-screen pt-20">
  <section>
    <div class="w-full lg:w-1/2 px-4 mx-auto pt-6">
      <!-- prettier-ignore -->
      <div class="w-full lg:max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg dark:bg-gray-800">
        <!-- prettier-ignore -->
        <h2 class="text-2xl font-bold text-gray-900 dark:text-white">Login</h2>
        <!-- prettier-ignore -->
        <form class="mt-8 space-y-6 from" role="form" action="{{ url_for('auth.login') }}" method="post">
          {{ form.hidden_tag() }}
          <div>
            <!-- prettier-ignore -->
            {{form.user_id.label(class='block mb-2 text-sm font-medium text-gray-900 dark:text-white')}}
            {{form.user_id(
            class="w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
            )
            }}
          </div>
          <div>
            <!-- prettier-ignore -->
            {{form.password.label(class='block mb-2 text-sm font-medium text-gray-900 dark:text-white')}}
            {{form.password(
            class="w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
            )
            }}
          </div>

          <!-- prettier-ignore -->
          <div class="flex flex-col md:flex-row items-center">
            <button type="submit"
              class="w-full px-5 py-3 text-base font-medium text-center text-white bg-indigo-700 rounded-lg hover:bg-indigo-800 focus:ring-4 focus:ring-blue-300 sm:w-auto dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-blue-800">
              Login
            </button>

            <a href="{{url_for('auth.forgot_pass')}}">
              <small class="ml-2 dark:text-white underline">Forgot your password?</small>
            </a>
          </div>

          <!-- prettier-ignore -->
          <div class="text-sm font-medium text-gray-900 dark:text-white">
            Not registered yet?
            <a class="text-indigo-600 hover:underline dark:text-indigo-500" href="{{ url_for('auth.register') }}">
              Create an account
            </a>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
{% endblock %}
<!-- prettier-ignore -->
{% block scripts %}
{% endblock %}