{% extends "base.html" %}
{% block links %}
<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" />
{% endblock %}
<!-- prettier-ignore -->
{% block body %}

<div class="dark:bg-gray-900 pt-20">
  <section>
    <div class="w-full h-screen lg:w-4/12 px-4 mx-auto pt-6">
      <!-- prettier-ignore -->
      <div class="w-full lg:max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg dark:bg-gray-800">
        <div class="flex w-full h-3 bg-green-300">
          <div class="w-5 h-1 bg-indigo-700"></div>
          <div class="w-1/5 h-1 bg-indigo-700"></div>
          <div class="w-1/5 h-1 bg-indigo-700"></div>
          <div class="w-1/5 h-1 bg-indigo-700"></div>
          <div class="w-1/5 h-1 bg-indigo-700"></div>
        </div>
        <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
          Sign Up
        </h2>
        <h1 class="text-2xl font-bold text-gray-900 dark:text-white">
          Step 2: Contact Info
        </h1>
        <form class="mt-8 space-y-6 from" role="form"
          action="{{ url_for('auth.activate', reset_password_uid=reset_password_uid) }}" method="post">
          {{ form.hidden_tag() }}

          <div>
            {{form.first_name.label(class='block mb-2 text-sm font-medium
            text-gray-900 dark:text-white')}}
            {{form.first_name(
            class="car_input"
            )
            }}

            {% for error in form.errors.first_name %}
            <small class="text-danger">{{error}}</small>
            {% endfor %}
          </div>

          <div>
            {{form.last_name.label(class='block mb-2 text-sm font-medium
            text-gray-900 dark:text-white')}}
            {{form.last_name(
            class="car_input"
            )
            }}{% for error in form.errors.last_name %}
            <small class="text-danger">{{error}}</small>
            {% endfor %}
          </div>

          <div>
            {{form.name_of_dealership.label(class='block mb-2 text-sm
            font-medium text-gray-900 dark:text-white')}}
            {{form.name_of_dealership(
            class="car_input"
            )
            }}
            {% for error in form.errors.name_of_dealership %}
            <small class="text-danger">{{error}}</small>
            {% endfor %}
          </div>

          <div>
            {{form.address_of_dealership.label(class='block mb-2 text-sm
            font-medium text-gray-900 dark:text-white')}}
            {{form.address_of_dealership(
            class="car_input"
            )
            }}
            {% for error in form.errors.address_of_dealership %}
            <small class="text-danger">{{error}}</small>
            {% endfor %}
          </div>

          <div>
            {{form.country.label(class='block mb-2 text-sm
            font-medium text-gray-900 dark:text-white')}}
            {{form.country(
            class="car_input"
            )
            }}
            {% for error in form.errors.country %}
            <small class="text-danger">{{error}}</small>
            {% endfor %}
          </div>

          <div>
            {{form.province.label(class='block mb-2 text-sm
            font-medium text-gray-900 dark:text-white')}}
            {{form.province(
            class="car_input"
            )
            }}
            {% for error in form.errors.province %}
            <small class="text-danger">{{error}}</small>
            {% endfor %}
          </div>

          <div>
            {{form.city.label(class='block mb-2 text-sm
            font-medium text-gray-900 dark:text-white')}}
            {{form.city(
            class="car_input"
            )
            }}
            {% for error in form.errors.city %}
            <small class="text-danger">{{error}}</small>
            {% endfor %}
          </div>

          <div>
            {{form.postal_code.label(class='block mb-2 text-sm
            font-medium text-gray-900 dark:text-white')}}
            {{form.postal_code(
            class="car_input"
            )
            }}
            {% for error in form.errors.postal_code %}
            <small class="text-danger">{{error}}</small>
            {% endfor %}
          </div>

          <div>
            {{form.phone.label(class='block mb-2 text-sm
            font-medium text-gray-900 dark:text-white')}}
            {{form.phone(
            class="car_input"
            )
            }}
            {% for error in form.errors.phone %}
            <small class="text-danger">{{error}}</small>
            {% endfor %}
          </div>

          <button type="submit"
            class="w-full px-5 py-3 text-base font-medium text-center text-white bg-indigo-700 rounded-lg hover:bg-indigo-800 focus:ring-4 focus:ring-blue-300 sm:w-auto dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-blue-800">
            Next step >
          </button>
          <div class="text-sm font-medium text-gray-900 dark:text-white">
            Have an account?
            <a class="text-indigo-600 hover:underline dark:text-indigo-500" href="{{ url_for('auth.login') }}">
              Go to Login page
            </a>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
{% endblock %}
<!-- prettier-ignore -->
{% block scripts %}
{% endblock %}