{% extends "base.html" %}
{% block links %}
<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" />
{% endblock %}
<!-- prettier-ignore -->
{% block body %}

<div class="dark:bg-gray-900 pt-20">
  <section>
    <div class="w-full h-full lg:w-1/2 px-1 md:px-4 py-6 mx-auto">
      <div>
        <!-- prettier-ignore -->
        <div class="w-full lg:max-w-xl p-1 space-y-8 md:p-8 bg-white rounded-lg dark:bg-gray-800">
          <div class="flex w-full h-1 bg-gray-300 rounded-sm">
            <div class="w-1/5 h-1 bg-indigo-700 rounded-l-sm"></div>
            <div class="w-1/5 h-1 bg-indigo-700"></div>
            <div class="w-1/5 h-1 bg-indigo-700"></div>
          </div>
          <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
            Sign Up
          </h2>
          <h1 class="text-2xl font-bold text-gray-900 dark:text-white">
            Step 3: Select a plan
          </h1>

          <form action="{{ url_for('auth.plan', user_unique_id=user.unique_id) }}" method="post">
            {{ form.hidden_tag() }}
            <div class="w-full h-90 flex testing_class justify-around dark:text-white">
              <!-- <div id="basic_plan_card"
                class="w-60 h-72 m-2 p-1 bg-white rounded-lg dark:bg-gray-800 border-2 border-gray-400 cursor-pointer"> -->
              <div id="basic_plan_card" class="plan_card">
                <p class="text-sm mb-5">Basic</p>
                <p class="text-3xl mb-5 font-bold">$99</p>
                <p class="text-sm mb-5 font-bold">per year</p>
                <p class="text-sm font-bold mb-5">Good for trying out, or the occassional sale.</p>
                <ul class="list-disc list-inside mt-3 ms-2">
                  <li class="text-xs">Unlimited QR codes</li>
                  <li class="text-xs">Activation Fee per Label</li>
                  <li class="text-xs">Labels Printed & Shipped for Free</li>
                </ul>
              </div>

              <div id="advanced_plan_card" class="plan_card">
                <p class="text-sm mb-5">Advanced</p>
                <p class="text-3xl mb-5 font-bold">$299</p>
                <p class="text-sm mb-5 font-bold">per year</p>
                <p class="text-sm font-bold mb-5">Great for a medium to large scale dealerships.</p>
                <ul class="list-disc list-inside mt-3 ms-2">
                  <li class="text-xs">Unlimited QR Code Labels</li>
                  <li class="text-xs">Activation Fee per Label</li>
                  <li class="text-xs">Free Label Printing & Shipping</li>
                  <li class="text-xs">Custom Branding on Labels</li>
                  <li class="text-xs">Advanced Reporting</li>
                  <li class="text-xs">Custom Gift & Promotions for Customers</li>
                </ul>
              </div>
            </div>

            <div class="invisible">
              <input type="radio" id="basic_radio" name="selected_plan" value="basic">
              <label for="html">$99</label><br>
              <input type="radio" id="advanced_radio" name="selected_plan" value="advanced">
              <label for="javascript">$299</label>
            </div>

            {#
            <!-- <div>
              {{form.plan.label(class='block mb-2 text-sm
              font-medium text-gray-900 dark:text-white')}}
              {{form.plan(
              class='w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit'
              )
              }}
              {% for error in form.errors.plan %}
              <small class="text-danger">{{error}}</small>
              {% endfor %}
            </div> -->
            #}

            <!-- <input type="submit" value="Submit"> -->
            <button type="submit"
              class="w-full px-5 py-3 text-base font-medium text-center text-white bg-indigo-700 rounded-lg hover:bg-indigo-800 focus:ring-4 focus:ring-blue-300 sm:w-auto dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-blue-800">
              Next step >
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
<!-- prettier-ignore -->
{% block scripts %}
<script src="{{ url_for('static', filename='js/custom.js') }}" type="text/javascript"></script>
{% endblock %}