{% extends 'base.html' %}

{% block links %}
<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="relative overflow-x-auto shadow-md dark:bg-gray-800 mt-5 text-gray-800 dark:text-white">
  <h1 class="hidden md:block text-4xl font-bold mt-12 mb-10 px-5">Welcome Back {{ current_user.first_name }},</h1>
  <div class="flex flex-col lg:flex-row text-xs lg:text-sm md:px-5 md:pb-5">
    <div class="w-full sm:w-2/5 p-3">
      <h3 class="mt-6 md:mt-0 text-lg font-bold">Active Labels</h3>

      <p class="my-5">
        List of all of your active labels.
        When a label is no longer in use don’t forget to remove it.
      </p>
    </div>

    <div class="w-full bg-gray-100 dark:bg-gray-800">
    </div>
  </div>


</div>
{% for label in labels %}{{ label }}{% endfor %}


{% include 'user/edit.html' %}
{% include 'user/resend_invite.html' %}
<!-- prettier-ignore -->
{% endblock %}
<!-- prettier-ignore -->
{% block scripts %}
<script src="{{ url_for('static', filename='js/user.js') }}" type="text/javascript" defer></script>
{% endblock %}