{% extends 'base.html' %}

{% block links %}
<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="relative overflow-x-auto shadow-md dark:bg-gray-800 mt-5 text-gray-800 dark:text-white">
  <h1 class="text-2xl md:text-4xl font-bold mt-10 mb-4 md:mt-12 md:mb-10 px-5">
    Register new labels
  </h1>
  <div class="lg:flex-row text-xs lg:text-sm md:px-5 md:pb-5">
    <div class="w-full p-3">
      <h3 class="mt-6 md:mt-0 text-lg font-bold">New Labels</h3>

      <p class="my-5">
        This is a list of all new labels according to the amount you selected.
        <br>
        Click on the label name to see more details.
      </p>
    </div>

    <div class="w-full bg-gray-100 dark:bg-gray-800">
      <div class="w-full flex text-xs text-white font-bold px-1 py-3 md:p-3 bg-indigo-700 rounded-t-lg">
        <p class="w-1/12 flex items-center justify-center">#</p>
        <p class="w-1/2 md:w-full flex items-center justify-start">Label Name</p>
        <p class="w-1/12 flex items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-4 -2 32 32" stroke-width="2.5"
            stroke="currentColor" class="w-6 h-6 lg:hidden">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
          </svg>
          <span class="hidden lg:block">Views</span>
        </p>

        <p class="w-3/12 hidden md:flex items-center justify-center"><span
            class="hidden lg:block">Days</span>&nbsp;Active
        </p>
        <p class="w-3/12 flex items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 -2 32 32" stroke-width="2.5"
            stroke="currentColor" class="w-6 h-6 lg:hidden">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
          </svg>
          <span class="hidden lg:block">Date Created</span>
        </p>
        <p class="w-1/12 flex items-center justify-center"></p>
      </div>

        <form action="{{url_for('labels.label_details')}}" method="post" class="relative bg-white rounded-lg shadow dark:bg-gray-800">
        {{ form_hidden_tag() }}
        {% set amount_int = amount | int %}
        {% for i in range(amount_int) %}
        <div class="w-full flex text-xs text-gray-600 dark:text-white font-bold px-1 py-3 md:p-3">
            <p class="w-1/12 flex items-center justify-center">{{ i + 1 }}</p>
            <p class="new_label_details w-1/2 md:w-full flex items-center justify-start hover:text-indigo-500 cursor-pointer">
            Label {{ i + 1 }}
            </p>
            <p class="w-1/12 flex items-center justify-center"></p>
            <p class="w-3/12 hidden md:flex items-center justify-center"></p>
            <p class="w-3/12 flex items-center justify-center"></p>
            <p class="w-1/12 flex items-center justify-center hover:text-indigo-500 cursor-pointer label-deactivate-button"></p>
        </div>
        <div class="hidden w-full bg-gray-100 dark:bg-gray-700">
            <input type="hidden" name="user_id" id="new-label-user-id" value="{{current_user.id}}" />
            <div class="p-6 space-y-6">
            <div class="w-full px-1">
                <div class="w-full flex justify-between">
                    <div class="w-full px-1">
                        <label for="name" class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                        Label Name
                        </label>
                        <input type="text" name="name" id="label-edit-name"
                        class="w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                        placeholder="Label Name" />
                    </div>

                    <div class="w-full px-1">
                        <label for="make" class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                        Make
                        </label>
                        <input type="text" name="make" id="label-edit-make"
                        class="w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                        placeholder="Make" />
                    </div>
                </div>

                <div class="w-full flex justify-between">
                    <div class="w-full px-1">
                        <label for="model" class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                        Vechicle Model
                        </label>
                        <input type="text" name="vehicle_model" id="label-edit-model"
                        class="w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                        placeholder="Vehicle Model" />
                    </div>

                    <div class="w-full px-1">
                        <label for="year" class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                        Year
                        </label>
                        <input type="text" name="year" id="label-edit-year"
                        class="w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                        placeholder="Year" />
                    </div>
                </div>

                <div class="w-full flex justify-between">
                    <div class="w-full px-1">
                        <label for="mileage" class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                        Mileage
                        </label>
                        <input type="text" name="mileage" id="label-edit-mileage"
                        class="w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                        placeholder="Mileage" />
                    </div>

                    <div class="w-full px-1">
                        <label for="color" class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                        Color
                        </label>
                        <input type="text" name="color" id="label-edit-color"
                        class="w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                        placeholder="Color" />
                    </div>
                </div>

                <div class="w-full flex justify-between">
                    <div class="w-full px-1">
                        <label for="trim" class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                        Trim
                        </label>
                        <input type="text" name="trim" id="label-edit-trim"
                        class="w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                        placeholder="Trim" />
                    </div>

                    <div class="w-full px-1">
                        <label for="vtype" class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                        Type Of Vehicle
                        </label>
                        <input type="text" name="type_of_vehicle" id="label-edit-type"
                        class="w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                        placeholder="Type Of Vechicle" />
                    </div>
                </div>

                <div class="w-full flex justify-between">
                    <div class="w-full px-1">
                        <label for="price" class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                        Price
                        </label>
                        <input type="text" name="price" id="label-edit-price"
                        class="w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                        placeholder="Price" />
                    </div>

                    <div class="w-full px-1">
                        <label for="url" class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                        URL
                        </label>
                        <input type="text" name="url" id="label-edit-url"
                        class="w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                        placeholder="URL" />
                    </div>
                </div>

            </div>
            </div>
        </div>
        {% endfor %}
    </form>
    </div>
  </div>
</div>

<!-- prettier-ignore -->
{% endblock %}
<!-- prettier-ignore -->
{% block scripts %}
<script src="{{ url_for('static', filename='js/label.js') }}" type="text/javascript" defer></script>
{% endblock %}