{% extends 'base.html' %}

{% block links %}
<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="relative overflow-x-auto shadow-md dark:bg-gray-800 mt-5 text-gray-800 dark:text-white">
  <h1 class="text-2xl md:text-4xl font-bold mt-10 mb-4 md:mt-12 md:mb-10 px-5">
    Register new labels
  </h1>
  <div class="text-xs lg:text-sm md:px-5 md:pb-5">
    <div class="w-full p-3 md:pl-0">
      <!-- <h3 class="mt-6 md:mt-0 text-lg font-bold">New Labels</h3> -->

      <p class="my-5">
        This is a list of all new labels according to the amount you selected.
        <br>
        Click on the label name to see more details.
      </p>
    </div>

    <div class="w-full bg-gray-100 dark:bg-gray-800">
        <div class="w-full flex text-xs text-white font-bold mb-2 px-1 py-3 md:p-3 bg-indigo-700 rounded-t-lg">
            <p class="w-1/2 md:w-full pl-3 flex items-center justify-start">New Labels</p>
            <p class="w-1/12 flex items-center justify-center"></p>
            <p class="w-3/12 hidden md:flex items-center justify-center"></p>
            <p class="w-3/12 flex items-center justify-center"></p>
            <p class="w-1/12 flex items-center justify-center"></p>
        </div>

        <form action="{{url_for('labels.new_label_set_details', user_unique_id=user_unique_id, amount=amount)}}" method="post" class="relative bg-white rounded-lg shadow dark:bg-gray-800">
        {{ form_hidden_tag() }}
        {% set amount_int = amount | int %}
        {% for i in range(amount_int) %}
        <div class="w-full flex text-xs text-gray-600 dark:text-white font-bold px-1 py-3 md:p-3">
            <p class="new_label_details w-1/2 md:w-full pl-3 flex items-center justify-start hover:text-indigo-500 cursor-pointer">
            Label {{ i + 1 }}
            </p>
            <p class="w-1/12 flex items-center justify-center"></p>
            <p class="w-3/12 hidden md:flex items-center justify-center"></p>
            <p class="w-3/12 flex items-center justify-center"></p>
            <p class="w-1/12 flex items-center justify-center hover:text-indigo-500 cursor-pointer label-deactivate-button"></p>
        </div>
        <div class="hidden w-full bg-gray-100 dark:bg-gray-700">
            <input type="hidden" name="user_id" id="new-label-{{ i+1 }}-user-id" value="{{current_user.id}}" />
            <div class="p-6 space-y-6">
            <div class="w-full px-1">
                <div class="w-full flex justify-between">
                    <div class="w-full px-1">
                        <label for="name" class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                        Unique Label Identifier
                        </label>
                        <input type="text" name="sticker-number-{{ i+1 }}" id="label-{{ i+1 }}-sticker-number"
                        class="clean_name_input w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                        placeholder="i.e. QR23456" required/>
                    </div>
                </div>

                <div class="w-full flex justify-between">
                    <div class="w-full px-1">
                        <label for="name" class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                        Label Name
                        </label>
                        <input type="text" name="name-{{ i+1 }}" id="label-{{ i+1 }}-name"
                        class="clean_name_input w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                        placeholder="i.e. Used Red Chevy Track" required/>
                    </div>

                    <div class="w-full px-1">
                        <label for="make" class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                        Make
                        </label>
                        <input type="text" name="make-{{ i+1 }}" id="label-{{ i+1 }}-make"
                        class="clean_name_input w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                        placeholder="Make" required/>
                    </div>
                </div>

                <div class="w-full flex justify-between">
                    <div class="w-full px-1">
                        <label for="model" class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                        Vehicle Model
                        </label>
                        <input type="text" name="vehicle_model-{{ i+1 }}" id="label-{{ i+1 }}-model"
                        class="clean_name_input w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                        placeholder="Vehicle Model" required/>
                    </div>

                    <div class="w-full px-1">
                        <label for="year" class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                        Year
                        </label>
                        <input type="text" name="year-{{ i+1 }}" id="label-{{ i+1 }}-year"
                        class="clean_number_input w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                        placeholder="Year" />
                    </div>
                </div>

                <div class="w-full flex justify-between">
                    <div class="w-full px-1">
                        <label for="mileage" class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                        Mileage
                        </label>
                        <input type="text" name="mileage-{{ i+1 }}" id="label-{{ i+1 }}-mileage"
                        class="clean_number_input w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                        placeholder="Mileage" required/>
                    </div>

                    <div class="w-full px-1">
                        <label for="color" class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                        Color
                        </label>
                        <input type="text" name="color-{{ i+1 }}" id="label-{{ i+1 }}-color"
                        class="clean_name_input w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                        placeholder="Color" required/>
                    </div>
                </div>

                <div class="w-full flex justify-between">
                    <div class="w-full px-1">
                        <label for="trim" class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                        Trim
                        </label>
                        <input type="text" name="trim-{{ i+1 }}" id="label-{{ i+1 }}-trim"
                        class="clean_name_input w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                        placeholder="Trim" required/>
                    </div>

                    <div class="w-full px-1">
                        <label for="vtype" class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                        Type Of Vehicle
                        </label>
                        <input type="text" name="type_of_vehicle-{{ i+1 }}" id="label-{{ i+1 }}-type"
                        class="clean_name_input w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                        placeholder="Type Of Vechicle" required/>
                    </div>
                </div>

                <div class="w-full flex justify-between">
                    <div class="w-full px-1">
                        <label for="price" class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                        Price
                        </label>
                        <input type="text" name="price-{{ i+1 }}" id="label-{{ i+1 }}-price"
                        class="clean_number_input w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                        placeholder="Price" required/>
                    </div>

                    <div class="w-full px-1">
                        <label for="url" class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                        URL
                        </label>
                        <input type="text" name="url-{{ i+1 }}" id="label-{{ i+1 }}-url"
                        class="w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                        placeholder="URL" required/>
                    </div>
                </div>

            </div>
            </div>
        </div>
        {% endfor %}

        <button name="submit" type="submit"
          class="ml-2 my-2 text-white bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 pt-2.5 pb-3 text-center dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-blue-800">
          Proceed to billing >
        </button>
        </form>
    </div>
  </div>
</div>

<!-- prettier-ignore -->
{% endblock %}
<!-- prettier-ignore -->
{% block scripts %}
<script src="{{ url_for('static', filename='js/label.js') }}" type="text/javascript" defer></script>
<script src="{{ url_for('static', filename='js/custom.js') }}" type="text/javascript" defer></script>
{% endblock %}