{% extends 'base.html' %}

{% block links %}
<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="relative overflow-x-auto shadow-md dark:bg-gray-800 mt-5 text-gray-800 dark:text-white">
    <h1 class="text-2xl md:text-4xl font-bold mt-10 mb-4 md:mt-12 md:mb-10 px-5">
        Register new labels
    </h1>
    <div class="text-xs lg:text-sm md:px-5 md:pb-5">
        <div class="w-full p-3 md:pl-0 flex justify-between">
            <!-- <h3 class="mt-6 md:mt-0 text-lg font-bold">New Labels</h3> -->
            <p class="my-5">
                Please fill all form fields to add a new label.
                <br>
                Please make sure that all inputs are correct before submitting.
            </p>
        </div>

        <div class="w-full bg-gray-100 dark:bg-gray-800">
            <div class="w-full flex text-xs text-white font-bold mb-2 px-1 py-3 md:p-3 bg-indigo-700 rounded-t-lg">
                <p class="w-1/2 md:w-full pl-3 flex items-center justify-start">Adding Labels</p>
                <p class="w-1/12 flex items-center justify-center"></p>
                <p class="w-3/12 hidden md:flex items-center justify-center"></p>
                <p class="w-3/12 flex items-center justify-center"></p>
                <p class="w-1/12 flex items-center justify-center"></p>
            </div>

            <form action="{{url_for('labels.new_label_set_details', user_unique_id=user_unique_id, amount=amount)}}"
                method="post" class="relative bg-white rounded-lg shadow dark:bg-gray-800" id="label-form">
                {{ form_hidden_tag() }}
                {% set amount_int = amount | int %}
                {% for i in range(amount_int) %}
                <div class="w-full flex text-xs text-gray-600 dark:text-white font-bold px-1 py-3 md:p-3">
                    <p
                        class="new_label_details w-1/2 md:w-full pl-3 flex items-center justify-start hover:text-indigo-500 cursor-pointer">
                        Label details
                    </p>
                    <p class="w-1/12 flex items-center justify-center"></p>
                    <p class="w-3/12 hidden md:flex items-center justify-center"></p>
                    <p class="w-3/12 flex items-center justify-center"></p>
                    <p
                        class="w-1/12 flex items-center justify-center hover:text-indigo-500 cursor-pointer label-deactivate-button">
                    </p>
                </div>
                <div class="w-full bg-gray-100 dark:bg-gray-700">
                    <input type="hidden" name="user_id" id="new-label-{{ i+1 }}-user-id" value="{{current_user.id}}" />
                    <div class="p-6 space-y-6">
                        <div class="w-full px-1">
                            <div class="w-full flex justify-between">
                                <div class="w-full px-1">
                                    <label for="label-{{ i+1 }}-sticker-number"
                                        class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                                        Unique Label Identifier
                                    </label>
                                    <div class="relative">
                                        <input type="text" name="sticker-number-{{ i+1 }}" autocomplete="off"
                                            id="label-{{ i+1 }}-sticker-number"
                                            class="clean_name_input w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                                            placeholder="i.e. QR23456" required />
                                        <p class="sticker-code-error hidden absolute bottom-2.5 right-1 text-red-700">
                                            this code already exists</p>
                                    </div>
                                </div>

                                <div class="w-full px-1">
                                    <label for="label-{{ i+1 }}-gift"
                                        class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                                        Gift
                                    </label>
                                    <input type="text" id="label-{{ i+1 }}-gift" name="gift-{{ i+1 }}"
                                        class="clean_name_input w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                                        placeholder="i.e. Free Oil Change" />
                                </div>
                            </div>

                            <div class="w-full flex justify-between">
                                <div class="w-full px-1">
                                    <label for="name-{{ i+1 }}"
                                        class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                                        Label Name
                                    </label>
                                    <input type="text" name="name-{{ i+1 }}" id="label-{{ i+1 }}-name"
                                        class="clean_name_input w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                                        placeholder="Reference Name to Internally Identify" required />
                                </div>

                                <div class="relative w-full px-1">
                                    <label for="make-{{ i+1 }}"
                                        class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                                        Make
                                    </label>
                                    <input type="text" id="make-{{ i+1 }}" name="make-{{ i+1 }}" autocomplete="off"
                                        class="clean_name_input w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                                        placeholder="i.e. Ford" required />
                                    <p class="make-warning hidden absolute bottom-2.5 right-2 text-indigo-500">
                                        will add a new make</p>
                                    <div
                                        class="suggestion-container make-container absolute hidden top-full left-0 w-full p-2 bg-white dark:bg-gray-700 max-h-52 overflow-y-scroll z-10">
                                        {% for make in makes %}
                                        <p
                                            class="make-suggestion cursor-pointer hover:bg-gray-50 hover:dark:bg-gray-600">
                                            {{ make.name }}
                                        </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="w-full flex justify-between">
                                <div class="relative w-full px-1">
                                    <label for="vehicle_model-{{ i+1 }}"
                                        class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                                        Vehicle Model
                                    </label>
                                    <input type="text" id="vehicle_model-{{ i+1 }}" name="vehicle_model-{{ i+1 }}"
                                        autocomplete="off"
                                        class="clean_name_input w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                                        placeholder="i.e. Fiesta" required />
                                    <p class="model-warning hidden absolute bottom-2.5 right-2 text-indigo-500">
                                        will add a new model</p>
                                    <div
                                        class="suggestion-container model-container absolute hidden top-full left-0 w-full p-2 bg-white dark:bg-gray-700 max-h-48 overflow-y-scroll z-10">
                                        {% for model in models %}
                                        <p
                                            class="model-suggestion cursor-pointer hover:bg-gray-50 hover:dark:bg-gray-600">
                                            {{ model.name }}
                                        </p>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="relative w-full px-1">
                                    <label for="label-{{ i+1 }}-trim"
                                        class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                                        Trim
                                    </label>
                                    <input type="text" id="label-{{ i+1 }}-trim" name="trim-{{ i+1 }}"
                                        autocomplete="off"
                                        class="clean_name_input w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                                        placeholder="i.e. Titanium" required />
                                    <div
                                        class="suggestion-container trim-container absolute hidden top-full left-0 w-full p-2 bg-white dark:bg-gray-700 max-h-48 overflow-y-scroll z-10">
                                        {% for trim in trims %}
                                        <p
                                            class="trim-suggestion cursor-pointer hover:bg-gray-50 hover:dark:bg-gray-600">
                                            {{ trim.name }}
                                        </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="w-full flex justify-between">
                                <div class="w-full px-1">
                                    <label for="label-{{ i+1 }}-year"
                                        class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                                        Year
                                    </label>
                                    <select id="label-{{ i+1 }}-year" name="year-{{ i+1 }}" required
                                        class="w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white">
                                        <option value="" disabled selected>Select year</option>
                                        {% for year in years() %}
                                        <option value="{{ year }}">{{ year }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="relative w-full px-1">
                                    <label for="label-{{ i+1 }}-type"
                                        class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                                        Type Of Vehicle
                                    </label>
                                    <input type="text" id="label-{{ i+1 }}-type" name="type-{{ i+1 }}"
                                        autocomplete="off"
                                        class="clean_name_input w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                                        placeholder="i.e. Hatchback" required />
                                    <div
                                        class="suggestion-container type-container absolute hidden top-full left-0 w-full p-2 bg-white dark:bg-gray-700 max-h-48 overflow-y-scroll">
                                        {% for v_type in types %}
                                        <p
                                            class="type-suggestion cursor-pointer hover:bg-gray-50 hover:dark:bg-gray-600">
                                            {{ v_type.name }}
                                        </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="w-full flex justify-between">
                                <div class="w-full px-1">
                                    <label for="mileage"
                                        class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                                        Mileage
                                    </label>
                                    <input type="text" name="mileage-{{ i+1 }}" id="label-{{ i+1 }}-mileage"
                                        class="clean_number_input w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                                        placeholder="Mileage" required />
                                </div>

                                <div class=" w-full px-1">
                                    <label for="color"
                                        class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                                        Colour
                                    </label>
                                    <input type="text" name="color-{{ i+1 }}" id="label-{{ i+1 }}-color"
                                        class="clean_name_input w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                                        placeholder="Colour" />
                                </div>
                            </div>

                            <div class="w-full flex justify-between">
                                <div class="w-full px-1">
                                    <label for="price"
                                        class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                                        Price
                                    </label>
                                    <input type="text" name="price-{{ i+1 }}" id="label-{{ i+1 }}-price"
                                        class="clean_number_input w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                                        placeholder="Price" required />
                                </div>

                                <div class="w-full px-1">
                                    <label for="url"
                                        class="block mt-2 text-sm font-medium text-gray-900 dark:text-white">
                                        URL
                                    </label>
                                    <input type="text" name="url-{{ i+1 }}" id="label-{{ i+1 }}-url"
                                        class="w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                                        placeholder="URL" required />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}

                <button name="submit" type="submit"
                    class="ml-2 my-2 text-white bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 pt-2.5 pb-3 text-center dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-blue-800">
                    Proceed to billing >
                </button>
            </form>
        </div>
    </div>
</div>

{% include 'label/add_make.html' %}
{% include 'label/add_model.html' %}
{% include 'label/add_trim.html' %}
{% include 'label/add_type.html' %}
{% include 'label/add_make_model.html' %}
<!-- prettier-ignore -->
{% endblock %}
<!-- prettier-ignore -->
{% block scripts %}
<script src="{{ url_for('static', filename='js/label.js') }}" type="text/javascript" defer></script>
<script src="{{ url_for('static', filename='js/new_label.js') }}" type="text/javascript" defer></script>
<script src="{{ url_for('static', filename='js/custom.js') }}" type="text/javascript" defer></script>
{% endblock %}