{% extends 'base.html' %}

{% block links %}
<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="relative overflow-x-auto shadow-md dark:bg-gray-800 mt-5 text-gray-800 dark:text-white">
  <h1 class="text-3xl md:text-4xl text-center md:text-left font-bold mt-12 mb-10 px-5">Register new labels</h1>
  <div class="w-full md:px-3 dark:bg-gray-800 flex flex-col md:flex-row text-gray-700 dark:text-white">
    Order Details
    {{ labels }}
  </div>


</div>


{% include 'user/edit.html' %}
{% include 'user/resend_invite.html' %}
<!-- prettier-ignore -->
{% endblock %}
<!-- prettier-ignore -->
{% block scripts %}
<script src="{{ url_for('static', filename='js/label.js') }}" type="text/javascript" defer></script>
{% endblock %}
