<div tabindex="-1" id="modal-view-add-seller" hx-get="{{ url_for('main.no_content') }}" hx-trigger="click"
    hx-swap="delete" hx-target="#modal-view-add-seller" hx-indicator="#htmx-spinner"
    class="fixed bg-opacity-80 bg-gray-600 top-0 left-0 right-0 z-50 items-center justify-center w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full max-h-full justify-end items-end flex">
    <div class="rounded-lg relative w-2/5 bg-white" onclick="event.stopPropagation();">
        <form class="p-8 grid grid-cols-4 gap-4 bg-white dark:bg-gray-800 rounded-lg p-1"
            action="{{ url_for('user.seller.edit') }}" method="POST">
            {{ form.hidden_tag() }}
            <input type="text" class="hidden" name="unique_id" value="{{ user.unique_id }}">
            <div class="col-span-2">
                <label class="block my-4 text-sm font-medium text-gray-900 dark:text-white">
                    First Name
                </label>
                <input type="text" name="first_name" autocomplete="off" minlength="1" maxlength="64" autofocus
                    class="w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                    placeholder="Enter first name" value="{{ user.first_name }}" required />
            </div>
            <div class="col-span-2">
                <label class="block my-4 text-sm font-medium text-gray-900 dark:text-white">
                    last Name
                </label>
                <input type="text" name="last_name" autocomplete="off" minlength="1" maxlength="64" autofocus
                    class="w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                    placeholder="Enter last name" value="{{ user.last_name }}" required />
            </div>
            <div class="col-span-4">
                <label class="block my-4 text-sm font-medium text-gray-900 dark:text-white">
                    Email
                </label>
                <input type="email" name="email" autocomplete="off" minlength="1" maxlength="64" autofocus
                    class="w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                    placeholder="Enter email" value="{{ user.email }}" required />
            </div>
            <div class="col-span-3">
                <label class="block my-4 text-sm font-medium text-gray-900 dark:text-white">
                    Phone
                </label>
                <input type="tel" id="phone-input" name="phone" autocomplete="off" minlength="1" maxlength="64"
                    autofocus
                    class="w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                    placeholder="000-000-0000" value="{{ user.phone }}" required />
            </div>
            <div class="col-span-1 flex justify-center items-center">
                <div class="flex items-center me-4">
                    <input {{ "checked" if user.activated }} type="checkbox" name="activated"
                        class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 rounded focus:ring-green-500 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="green-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Is
                        active</label>
                </div>
            </div>

            <div class="col-span-2">
                <label class="block my-4 text-sm font-medium text-gray-900 dark:text-white">
                    New password
                </label>
                <input type="password" name="new_password" autocomplete="off" minlength="1" maxlength="64"
                    class="w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                    placeholder="**********" />
            </div>
            <div class="col-span-2">
                <label class="block my-4 text-sm font-medium text-gray-900 dark:text-white">
                    Confirm new password
                </label>
                <input type="password" name="new_password_confirmation" autocomplete="off" minlength="1" maxlength="64"
                    class="w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                    placeholder="**********" />
            </div>

            <button type="submit"
                class="col-span-4 py-2 text-base font-medium text-center text-white bg-indigo-700 rounded-lg hover:bg-indigo-800 focus:ring-4 focus:ring-blue-300 sm:w-auto dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-blue-800">
                Submit
            </button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/controllers/phone.js') }}" type="text/javascript" defer></script>
</div>