{% extends 'base.html' %}

{% block links %}
<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="dark:bg-gray-900">
  <section>
    <div class="w-full h-full lg:w-1/2 px-4 mx-auto py-6">
      <div>
        <div class="flex justify-center">
          <div class="w-full lg:max-w-xl p-6 md:px-0 space-y-8 sm:p-8 bg-white rounded-lg dark:bg-gray-800">
            <h1 class="text-2xl font-bold text-gray-900 dark:text-white text-center">
              My Account
            </h1>
            <form class="mt-8 space-y-6 from mx-2 md:mx-6" role="form"
              action="{{ url_for('user.account', user_unique_id=user_unique_id) }}" method="post">
              {{ form.hidden_tag() }}

              <div class="doubled_inputs">
                <div class="short_input_container short_input_container_left">
                  {{form.email.label(class='block text-sm font-medium
                  text-gray-900 dark:text-white')}}
                  {{form.email(
                  class="clean_email_input w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none
                  bg-inherit
                  dark:text-white"
                  )
                  }}

                  {% for error in form.errors.email %}
                  <small class="text-danger">{{error}}</small>
                  {% endfor %}
                </div>

                <div class="short_input_container short_input_container_right">
                  {{form.phone.label(class='block text-sm
                  font-medium text-gray-900 dark:text-white')}}
                  {{form.phone(
                  class="clean_phone_input w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none
                  bg-inherit
                  dark:text-white",
                  placeholder="000-000-0000"
                  )
                  }}
                  {% for error in form.errors.phone %}
                  <small class="text-danger">{{error}}</small>
                  {% endfor %}
                </div>
              </div>

              <div class="doubled_inputs">
                <div class="short_input_container short_input_container_left">
                  {{form.password.label(class='block mb-2 text-sm font-medium
                  text-gray-900 dark:text-white')}}
                  {{form.password(
                  class='w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit'
                  )
                  }}{% for error in form.errors.password %}
                  <small class="text-danger">{{error}}</small>
                  {% endfor %}
                </div>

                <div class="short_input_container short_input_container_right">
                  {{form.password_confirmation.label(class='block mb-2 text-sm
                  font-medium text-gray-900 dark:text-white')}}
                  {{form.password_confirmation(
                  class='w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit'
                  )
                  }}
                  {% for error in form.errors.password_confirmation %}
                  <small class="text-danger">{{error}}</small>
                  {% endfor %}
                </div>
              </div>

              <div class="doubled_inputs">
                <div class="short_input_container short_input_container_left">
                  {{form.first_name.label(class='block text-sm font-medium
                  text-gray-900 dark:text-white')}}
                  {{form.first_name(
                  class="clean_name_input w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit
                  dark:text-white"
                  )
                  }}

                  {% for error in form.errors.first_name %}
                  <small class="text-danger">{{error}}</small>
                  {% endfor %}
                </div>

                <div class="short_input_container short_input_container_right">
                  {{form.last_name.label(class='block text-sm font-medium
                  text-gray-900 dark:text-white')}}
                  {{form.last_name(
                  class="clean_name_input w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit
                  dark:text-white"
                  )
                  }}{% for error in form.errors.last_name %}
                  <small class="text-danger">{{error}}</small>
                  {% endfor %}
                </div>
              </div>

              <div>
                {{form.name_of_dealership.label(class='block mb-2 text-sm
                font-medium text-gray-900 dark:text-white')}}
                {{form.name_of_dealership(
                class="clean_name_input w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit
                dark:text-white"
                )
                }}
                {% for error in form.errors.name_of_dealership %}
                <small class="text-danger">{{error}}</small>
                {% endfor %}
              </div>

              <div>
                {{form.address_of_dealership.label(class='block mb-2 text-sm
                font-medium text-gray-900 dark:text-white')}}
                {{form.address_of_dealership(
                class="clean_name_input w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit
                dark:text-white"
                )
                }}
                {% for error in form.errors.address_of_dealership %}
                <small class="text-danger">{{error}}</small>
                {% endfor %}
              </div>

              <div class="doubled_inputs">
                <div class="short_input_container short_input_container_left">
                  <label for="country" class="block text-sm font-medium text-gray-900 dark:text-white">
                    Country
                  </label>
                  <select id="" name="country" required hx-get="{{ url_for('auth.get_provinces') }}" hx-trigger="change"
                    hx-target="#province_select" class="w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit
                    dark:text-white">
                    <option value="Canada" {% if user.country=='Canada' %}selected{% endif %}>Canada</option>
                    <option value="US" {% if user.country=='US' %}selected{% endif %}>US</option>
                  </select>
                </div>

                <div class="short_input_container short_input_container_right">
                  <label for="province" class="block text-sm font-medium text-gray-900 dark:text-white">
                    Province
                  </label>
                  <div id="province_select">
                    {% include 'auth/provinces.html' %}
                  </div>
                </div>
              </div>

              <div class="doubled_inputs">
                <div class="short_input_container short_input_container_left">
                  {{form.city.label(class='block mb-2 text-sm
                  font-medium text-gray-900 dark:text-white')}}
                  {{form.city(
                  class="clean_name_input w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit
                  dark:text-white"
                  )
                  }}
                  {% for error in form.errors.city %}
                  <small class="text-danger">{{error}}</small>
                  {% endfor %}
                </div>

                <div class="short_input_container short_input_container_right">
                  {{form.postal_code.label(class='block mb-2 text-sm
                  font-medium text-gray-900 dark:text-white')}}
                  {{form.postal_code(
                  class="clean_name_input w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit
                  dark:text-white"
                  )
                  }}
                  {% for error in form.errors.postal_code %}
                  <small class="text-danger">{{error}}</small>
                  {% endfor %}
                </div>
              </div>

              <div class="doubled_inputs">

                <div class="hidden">
                  {{form.plan.label(class='block mb-2 text-sm
                  font-medium text-gray-900 dark:text-white')}}
                  {{form.plan(
                  class="w-full p-2 text-sm border-0 border-b-2 border-gray-400 outline-none bg-inherit dark:text-white"
                  )
                  }}
                  {% for error in form.errors.plan %}
                  <small class="text-danger">{{error}}</small>
                  {% endfor %}
                </div>
              </div>

              <button type="submit"
                class="w-full mt-4 px-5 py-3 text-base font-medium text-center text-white bg-indigo-700 rounded-lg hover:bg-indigo-800 focus:ring-4 focus:ring-blue-300 sm:w-auto dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-blue-800">
                Save >
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
</section>
</div>
<!-- prettier-ignore -->
{% endblock %}
<!-- prettier-ignore -->
{% block scripts %}
<script src="{{ url_for('static', filename='js/user.js') }}" type="text/javascript" defer></script>
<script src="{{ url_for('static', filename='js/custom.js') }}" type="text/javascript" defer></script>
<script src="https://unpkg.com/htmx.org@1.9.5"></script>
{% endblock %}