{% extends "base.html" %}
{% block links %}
<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" />
{% endblock %}
<!-- prettier-ignore -->
{% block body %}

<!-- component -->
<div class="flex justify-center">
    <div class="w-full h-screen px-3">
        <img src="{{url_for('static', filename='img/forbes_logo.png')}}" alt="forbes_logo.png" class="mt-24">

        <p>Thank you for choosing Forbes Motors GM! </p>
        <p>Before visiting the vehicles information, would you like provide us with your contact information for a free
            promotion?</p>

        <div>
            <p>Promotion Available</p>
            <p>One Free Oil Change</p>
        </div>


        <div class="flex flex-row items-center">
            <a href="{{url_for('user.client_data', sticker_id=sticker_id)}}">
                <button type="button"
                    class="w-36 px-5 py-3 text-base font-medium text-center text-white bg-indigo-700 rounded-lg hover:bg-indigo-800 focus:ring-4 focus:ring-blue-300 sm:w-auto dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-blue-800">
                    Check It Out!
                </button>
            </a>

            <a href="{{label_url}}">
                <small class="ml-2 dark:text-white underline">No thanks, view vehicle</small>
            </a>
        </div>
    </div>
</div>
{% endblock %}
<!-- prettier-ignore -->
{% block scripts %}
<script src="{{ url_for('static', filename='js/custom.js') }}" type="text/javascript" defer></script>
{% endblock %}