<form action="{{ url_for('stripe.subscription', user_unique_id=user.unique_id) }}" method="post">
  {{ form.hidden_tag() }}

  <div class="w-full h-90 flex testing_class justify-around dark:text-white">
    <div id="basic_plan_card" class="plan_card">
      <p class="text-sm mb-5">Basic</p>
      <p class="text-3xl mb-5 font-bold">$99</p>
      <p class="text-sm mb-5 font-bold">per year</p>
      <p class="text-sm font-bold mb-5">Good for trying out, or the occassional sale.</p>
      <ul class="list-disc list-inside mt-3 ms-2">
        <li class="text-xs">Unlimited QR codes</li>
        <li class="text-xs">Activation Fee per Label</li>
        <li class="text-xs">Labels Printed & Shipped for Free</li>
      </ul>
    </div>

    <div id="advanced_plan_card" class="plan_card">
      <p class="text-sm mb-5">Advanced</p>
      <p class="text-3xl mb-5 font-bold">$299</p>
      <p class="text-sm mb-5 font-bold">per year</p>
      <p class="text-sm font-bold mb-5">Great for a medium to large scale dealerships.</p>
      <ul class="list-disc list-inside mt-3 ms-2">
        <li class="text-xs">Unlimited QR Code Labels</li>
        <li class="text-xs">Activation Fee per Label</li>
        <li class="text-xs">Free Label Printing & Shipping</li>
        <li class="text-xs">Custom Branding on Labels</li>
        <li class="text-xs">Advanced Reporting</li>
        <li class="text-xs">Custom Gift & Promotions for Customers</li>
      </ul>
    </div>
  </div>

  <div class="invisible">
    <input type="radio" id="basic_radio" name="selected_plan" value="Basic Plan">
    <label for="basic_radio">$99</label><br>
    <input type="radio" id="advanced_radio" name="selected_plan" value="Advanced Plan">
    <label for="advanced_radio">$299</label>
  </div>

  <div class="w-full flex justify-center">
    <button type="submit"
      class="w-full md:w-60 mx-auto mb-8 md:mt-3 px-5 py-3 text-base font-medium text-center text-white bg-indigo-700 rounded-lg hover:bg-indigo-800 focus:ring-4 focus:ring-blue-300 sm:w-auto dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-blue-800">
      Change >
    </button>
  </div>

</form>