{% extends 'base.html' %}
{% block links %}

{% endblock %} {% block content %}

<div class="relative overflow-x-auto shadow-md sm:rounded-lg pt-4">
    <div class="w-full p-4 flex justify-between">
        <h1 class="text-2xl md:text-4xl font-bold px-5 dark:text-white">
            Items
        </h1>
        <button type="button" hx-get="{{ url_for('gift_item.add_modal') }}" hx-trigger="click" hx-swap="beforeend"
            hx-target="body" hx-indicator="#htmx-spinner"
            class="text-white bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5">
            Add Gift</button>
    </div>
    </button>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Description
                </th>
                <th scope="col" class="px-6 py-3">
                    SKU
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Min Qty
                </th>
                <th scope="col" class="px-6 py-3">
                    Max Qty
                </th>
                <th scope="col" class="px-6 py-3">
                    Default
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for item in gift_items %}
            <tr
                class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <div class="text-clip overflow-hidden w-20">
                        {{ item.description }}
                    </div>
                </th>
                <td class="px-6 py-4">
                    {{ item.SKU }}
                </td>
                <td class="px-6 py-4">
                    {{ item.price }}
                </td>

                <td class="px-6 py-4">
                    {{ item.min_qty }}
                </td>
                <td class="px-6 py-4">
                    {{ item.max_qty }}
                </td>
                <td class="px-6 py-4">
                    <div class="flex items-center me-4">
                        {% if item.is_default %}
                        <input checked type="checkbox" value="" disabled
                            class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 rounded focus:ring-green-500 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        {% else %}
                        <input type="checkbox" value="" disabled
                            class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 rounded focus:ring-green-500 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        {% endif %}
                    </div>
                </td>
                <td class="px-6 py-4">
                    <div class="font-medium text-blue-600 dark:text-blue-500 hover:underline cursor-pointer"
                        hx-get="{{ url_for('gift_item.edit_modal', unique_id=item.unique_id) }}" hx-trigger="click"
                        hx-swap="beforeend" hx-target="body" hx-indicator="#htmx-spinner">Edit</div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if page.pages > 1 %}
    <div class="container content-center mt-3 mb-8 flex bg-white dark:bg-gray-800">
        <nav aria-label="Page navigation example" class="mx-auto">
            <ul class="inline-flex items-center -space-x-px">
                <li>
                    <!-- prettier-ignore -->
                    <a href="{{ url_for('gift_item.get_all') }}?page=1&q={{page.query}}"
                        class="block px-3 py-2 rounded-md mx-1 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        <span class="sr-only">First</span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                            <path fill-rule="evenodd"
                                d="M15.79 14.77a.75.75 0 01-1.06.02l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 111.04 1.08L11.832 10l3.938 3.71a.75.75 0 01.02 1.06zm-6 0a.75.75 0 01-1.06.02l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 111.04 1.08L5.832 10l3.938 3.71a.75.75 0 01.02 1.06z"
                                clip-rule="evenodd" />
                        </svg>
                    </a>
                </li>
                <li>
                    <!-- prettier-ignore -->
                    <a href="{{ url_for('gift_item.get_all') }}?page={{page.page-1 if page.page > 1 else 1}}&q={{page.query}}"
                        class="block px-3 py-2 ml-0 rounded-md mx-1 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        <span class="sr-only">Previous</span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                            <path fill-rule="evenodd"
                                d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                                clip-rule="evenodd" />
                        </svg>
                    </a>
                </li>

                <!-- old pagination page links -->
                <div class="hidden">
                    <!-- prettier-ignore -->
                    {% for p in page.pages_for_links %}
                    <li>
                        <!-- prettier-ignore -->
                        {% if p == page.page %}
                        <!-- prettier-ignore -->
                        <a href="{{ url_for('gift_item.get_all') }}?page={{p}}&q={{page.query}}" aria-current="page"
                            class="z-10 px-3 py-2 leading-tight text-blue-600 border border-blue-300 bg-indigo-50 hover:bg-indigo-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">{{p}}</a>
                        {% else %}
                        <!-- prettier-ignore -->
                        <a href="{{ url_for('gift_item.get_all') }}?page={{p}}&q={{page.query}}"
                            class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{p}}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </div>
                <!-- old pagination page links -->

                <!-- new pagination page links -->
                <div
                    class="cursor-pointer z-10 px-5 py-2 rounded-md mx-3 leading-tight text-gray-500 font-medium border border-gray-300 dark:border-gray-700 dark:bg-gray-700 dark:text-white">
                    {{page.page}} of {{ page.pages }}
                </div>
                <!-- new pagination page links -->

                <li>
                    <!-- prettier-ignore -->
                    <a href="{{ url_for('gift_item.get_all') }}?page={{page.page+1 if page.page < page.pages else page.pages}}&q={{page.query}}"
                        class="block px-3 py-2 rounded-md mx-1 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        <!-- prettier-ignore -->
                        <span class="sr-only">Next</span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                            <path fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd" />
                        </svg>
                    </a>
                </li>
                <li>
                    <!-- prettier-ignore -->
                    <a href="{{ url_for('gift_item.get_all') }}?page={{page.pages}}&q={{page.query}}"
                        class="block px-3 py-2 rounded-md leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        <span class="sr-only">Last</span>
                        <!-- prettier-ignore -->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                            <path fill-rule="evenodd"
                                d="M10.21 14.77a.75.75 0 01.02-1.06L14.168 10 10.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd" />
                            <path fill-rule="evenodd"
                                d="M4.21 14.77a.75.75 0 01.02-1.06L8.168 10 4.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd" />
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    {% endif %}
</div>


<!-- prettier-ignore -->
{% endblock %}
<!-- prettier-ignore -->
{% block scripts %}
{% endblock %}