.indigo {
    background-color: rgb(81 69 205);
}

.car_input {
    width: 100%;
    border-top: none !important;
    border-right: none !important;
    border-bottom: 2px solid lightgrey;
    border-left: none !important;
    /* background-clip: content-box; */
}

.car_input_short {
    width: 48%;
}

.car_input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px white inset !important;
    box-shadow: 0 0 0 100px white inset !important;
}

.car_input:focus,
.car_input:active,
.car_input:hover,
.car_input:visited,
.car_input:target {
    border: none !important;
    border-bottom: 2px solid rgb(81 69 205) !important;
    box-shadow: 0 0 0 100px white inset !important;
}

.doubled_inputs {
    width: 100%;
    display: flex;
}

@media screen and (max-width: 768px) {
    .doubled_inputs {
        flex-direction: column;
    }

    .car_input_short {
        width: 100%;
    }
}

.short_input_container {
    width: 48%;
}

.short_input_container_left {
    margin-right: 2%;
}

.short_input_container_right {
    margin-left: 2%;
}

@media screen and (max-width: 768px) {
    .short_input_container {
        width: 100%;
    }

    .short_input_container_left {
        margin-right: 0;
    }

    .short_input_container_right {
        margin-top: 15px;
        margin-left: 0;
    }
}

.plan_card {
    height: 573px;
    width: 48%;
    margin-inline: 1%;
    padding: 12px;
    border: 1px solid lightgrey;
    border-radius: 12px;
    cursor: pointer;
}

.plan_card_landing {
    border: 1px solid rgb(104 117 245);
}




/* Light theme */
@media (prefers-color-scheme: light) {
    ::-webkit-scrollbar {
        width: 4px;
    }

    ::-webkit-scrollbar-track {
        background-color: rgb(55, 65, 81);
    }

    ::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 2px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar {
        width: 4px;
    }

    ::-webkit-scrollbar-track {
        /* background-color: rgb(55, 65, 81); */
        background-color: white;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 2px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
}

.absolute-bottom-32 {
    position: absolute;
    bottom: 160px;
}

.absolute-bottom-22 {
    position: absolute;
    bottom: 108px;
}

.absolute-bottom-12 {
    position: absolute;
    bottom: 60px;
}

.outer-div {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(229 237 255);
    border-radius: 50%;
    background-color: rgb(240 245 255);
    display: flex;
    justify-content: center;
    align-items: center;
  }

.inner-div {
    width: 35px;
    height: 35px;
    border: 1px solid rgb(180 198 252);
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
