<tr class="bg-white dark:bg-gray-800 border-b dark:border-gray-700">
    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        {{ sku }}
    </th>
    <td class="px-6 py-4">
        {{ total_qty }}
    </td>
    <td class="px-6 py-4">
        {{ delaer_gift_item.min_qty }}
    </td>
    <td class="px-6 py-4">
        {{ delaer_gift_item.max_qty }}
    </td>
    <td class="px-6 py-4">
        <span
            class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">Removed</span>
    </td>
</tr>